<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scheduled_product>
            <general>
                <enable>1</enable>
                <daily_available>2</daily_available>
            </general>
        </scheduled_product>
    </default>
</config>
